body{
    background-color: rgb(203, 239, 239);
}
header{
    background-color: rgb(111, 120, 129);
    height: 20vh;
    width: 100vw;
}
.header1 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header1 li{
    margin-right: 4%;
    margin-top: 5%;
    font-size: 150%;
}
.header2 h1{
    margin-top: 20%;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    text-decoration: underline;
}
.contant{
    margin-top: 20%;
    margin-left: 10%;
    font-size: 120%;
    opacity: 0.5;
}
.img img{
    height: 70vh;
    width: 40vw;
    margin-left: 50%;
    margin-top: -25%;
}

.img2 img{
    margin-top: 20%;
    margin-left: 5%;
    height: 70vh;
    width: 40vw;
}
.img3 img{
    margin-top: -60%;
    margin-left: 55%;
    height: 70vh;
    width: 40vw;
}
.img4 img{
    margin-top: 20%;
    margin-left: 10%;
    height: 50vh;
    width: 40vw;
}
.contant2 p{
    margin-left: 60%;
    margin-top: -22%;
    font-size: 150%;
    opacity: 0.5;     
}
.contant3 p{
    margin-top: 20%;
    margin-left: 10%;
    font-size: 150%;
    opacity: 0.5; 

}
.img5 img{
    margin-left: 50%;
    margin-top: -20%;
    margin-bottom: 20%;
}

