body{
    background-color: rgb(203, 239, 239);
}
header{
    background-color: rgb(111, 120, 129);
    height: 20vh;
    width: 100vw;
}
.header1 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header1 li{
    margin-right: 4%;
    margin-top: 5%;
    font-size: 150%;
}
.header2 h1{
    margin-top: 20%;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    text-decoration: underline;
}
table{
    background-color: rgb(195, 242, 242);
    box-shadow: 10px 10px 5px black;
    box-shadow: 10px 10px 5px black, 10px 10px 5px rgb(99, 125, 134) inset;
}
table h3{
    opacity: 0.7;

}